body{
    background-color: #FFFFF2;
}

#StudentsMap{
    height: 1000px;
    width: 1000px;
}

section{
    width:1920px;
    height: auto;
    overflow-x: auto;
    overflow-y: auto;

    /*transform: rotate(-90deg) translateY(-100px);*/

    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top;
}

section > div{
    width: 1920px;
    height: auto;

    transform: rotate(90deg);
    transform-origin: right top;
}

